#cart-detail-items-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    justify-items: center;
    margin: 2rem auto;
    padding: 1rem;
    background: #eee;
    gap: 1rem;
}

#cart-detail__container {
    padding: 0 1rem;
}

#empty-cart-title {
    margin: 2rem 0;
}

#cart-detail__container h1,
#cart-detail__container h2 {
    margin-top: 2.4rem;
}

.cart-link-and-button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

@media (max-width: 750px) {
    #cart-detail-items-container {
        grid-template-columns: 1fr;

    }
}