#finish-buy__container:has(h1, h2, h3) {
    margin: 2rem 0;
}

#finish-buy__container div {
    text-align: center;
    margin: 2rem 0;
}

#product-detail__container {
    list-style: none;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    max-width: 1200px;
}

.product-detail__title {
    font-weight: 600;
}

h1,
h2,
h3 {
    text-align: center;
}

form label {
    margin-left: 1.5rem;
    margin-bottom: .55rem;
    font-weight: 600;
}

form input {
    border: none;
    margin-bottom: 1rem;
}

.product {
    width: 300px;
    padding: 1rem;
}

#form__container {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 2rem;
}


#form__container input,
#form__container button {
    padding: 0.55rem;
}

#form__container button {
    width: 40%;
    margin: 1rem auto;

}