#product-container {
    margin: auto;
}

#product-title {
    padding: 1rem 2rem;
    text-align: center;

}

#product-image-container-and-description {
    margin: auto;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    font-size: 30px;
    line-height: 2lh;
    align-items: center;
    width: 60%;

}

#product-image-container {
    width: 30%;
}

#product-description-container {
    width: 70%;
}

#product-price-stock-quantity-container {
    text-align: center;
    margin: 1rem 0;
}

#product-controllers-container {
    display: flex;
    justify-content: center;

}

.product-controller__button {
    padding: 0.55rem;
    font-weight: 600;
    border: none;
    box-shadow: 1px 1px 5px #333;
    transition: all .2s;
    background: #b6b6b6;
    color: var(--font-primary-color);
}

.product-controller__button:hover {
    background: #d1d1d1;
    transform: scale(1.01);
    box-shadow: 0px 0px 5px #333;
}

@media (min-width: 300px) and (max-width: 600px) {

    #product-container {
        max-width: 80%;
    }

    #product-image-container-and-description {
        flex-direction: column;
    }
}