#item-list-container {
    padding: 2rem;
    text-align: center;
}

#item-list-title {
    text-align: center;
    margin-bottom: 2rem;
}

#items-list {
    display: flex;
    max-width: 1400px;
    padding: 1rem;
    background: #b8b8b8;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto;
    border-radius: 5px;
}

.product-card-image-container {
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
}