#header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: var(--primary-color);
    min-height: 15vh;
    position: relative;
}

#header-main-title {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--font-primary-color);
    align-self: center;
}

@media (min-width: 300px) and (max-width: 600px) {
    #header-container {
        flex-direction: column;
    }
}