#navbar-categories-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    text-transform: capitalize;
    text-align: center;
}

.navbar-category-item {
    padding: .5rem .35rem;
    text-decoration: none;
    color: var(--font-primary-color);
    transition: all .3s;
    background: #eee;
}

.navbar-category-item:hover {
    background: #333;
    color: #eee;
}

@media (max-width: 800px) {
    #navbar-categories-container {
        position: static;
        transform: translate(0%, 15%);
        gap: 0;

    }

    .navbar-category-item {
        padding: .55rem .15rem;

    }
}